/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import "tailwindcss";


ion-tab-bar {
   --background: white;
 }
 
 ion-tab-button {
   --color-selected: #0EB96F;
}
 

 ion-content {
   --overflow: hidden;
 }

.input-green {
  --highlight-color-focused: #0EB96F;
  --border-color: #0EB96F;
  --color: #0EB96F;
}


